<h1>Syncfy headless widget</h1>

<h2>Inputs</h2>

<label for="token">Token</label>
<input type="text" id="token" />
<br />

<label for="text">Locale</label>
<input type="text" id="locale" value="es" />
<br />

<label for="quick-answer">Quick answer</label>
<input type="checkbox" id="quick-answer" />
<br />

<label for="socket-timeout">Socket timeout</label>
<input type="number" id="socket-timeout" />
<br />

<label for="id-site">Site ID</label>
<input type="text" id="id-site" />
<br />

<label for="id-credential">Credential ID</label>
<input type="text" id="id-credential" />
<br />

<button id="get-countries" (click)="getCountries()">getCountries</button>
<button id="get-organization-sites" (click)="getOrganizationSites()">
  getOrganizationSites
</button>
<button
  id="get-organization-sites-business"
  (click)="getOrganizationSites({ is_business: 1 })"
>
  getOrganizationSites(business)
</button>
<button
  id="get-organization-sites-personal"
  (click)="getOrganizationSites({ is_personal: 1 })"
>
  getOrganizationSites(personal)
</button>
<button id="get-organization-types" (click)="getOrganizationTypes()">
  getOrganizationTypes
</button>
<button id="get-site" (click)="getSite()">getSite</button>
<button id="connect-site-v1" (click)="siteConnection()">siteConnection</button>
<button id="sync-credential" (click)="syncCredential()">syncCredential</button>
<button id="headless-twofa" (click)="testTwofa()">twofa</button>

<ng-container *ngIf="credentials">
  <h2>Credentials</h2>
  {{ credentials | json }}<br />
  <textarea [(ngModel)]="credentialsData" rows="4" cols="200"></textarea><br />
  <button (click)="sendCredentials()">Send credentials</button>
</ng-container>

<ng-container *ngIf="twofaFields">
  <h2>Twofa</h2>
  {{ twofaFields | json }}<br />
  <textarea [(ngModel)]="twofaData" rows="4" cols="200"></textarea><br />
  <button (click)="sendTwofa()">Send twofa</button>
</ng-container>

<h2>Respuestas</h2>
{{ headlessResults | json }}
